<form class='profile-form'>
  {{{inputAvatar}}}
  {{{inputFirstName}}}
  {{{inputSecondName}}}
  {{{inputDisplayName}}}
  {{{inputLogin}}}
  {{{inputEmail}}}
  {{{inputPhone}}}
  {{{saveBtn}}}
</form>
