<div class='wrapper-chat-item {{active}}'>
  <div class='chat-item'>
    <div class='chat-item__ava'>{{{chatAvatar}}}</div>
    <div class='chat-item__info'>
      <span class='chat-info__title'>{{title}}</span>
      {{#if lastMessage}}
        <p class='chat-info__msg'>{{lastMessage}}</p>
      {{else}}
        <p class='chat-info__msg'>В чат пока никто не написал</p>
      {{/if}}
    </div>
    <div class='chat-item__btn-delete'>
      {{{deleteChatBtn}}}
    </div>
  </div>
</div>
